.navbar-brand img {
  height: 30px;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}

#couple:hover {
  background: gray;
  opacity: 35%;
}

#box:hover {
  background: gray;
  opacity: 35%;
}

#family:hover {
  background: gray;
  opacity: 35%;
}

.carousel-item:hover > .textoFlotante {
  display: block;
}

.textoFlotante {
  color: red;
  font-size: 36px;
  z-index: 999999999;
  position: absolute;
  display: none;
}

.flexNuestro {
  display: flex;
}
