.navbar-brand img {
  height: 30px;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}

/* #couple:hover {
  background: gray;
  opacity: 35%;
}

#box:hover {
  background: gray;
  opacity: 35%;
}

#family:hover {
  background: gray;
  opacity: 35%;
} */

/* .active:hover > .textoFlotante {
  display: block;
} */

/* .textoFlotante {
  color: red;
  font-size: 36px;
  position: absolute;
  display: none;
} */

.textoFlotante {
  color: rgb(255, 255, 255);
  font-size: 48px;
  position: absolute;
  display: none;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.carousel-item.hover-active {
  background-color: gray;
  opacity: 0.35;
}

.carousel-item.hover-active .textoFlotante {
  display: block;
}

.logo:hover {
  animation: tilt-n-move-shaking 0.25s infinite;
}

.logo span {
  margin-left: 5px;
}

@keyframes tilt-n-move-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.container_card{
    display: flex;
    align-items: center;
    justify-content: center;
  }
