.navbar-brand img {
  height: 30px;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}

.textoFlotante {
  color: rgb(255, 255, 255);
  font-size: 48px;
  position: absolute;
  display: none;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.carousel-item.hover-active {
  background-color: gray;
  opacity: 0.35;
}

.carousel-item.hover-active .textoFlotante {
  display: block;
}

.logo:hover {
  animation: tilt-n-move-shaking 0.25s infinite;
}

.logo span {
  margin-left: 5px;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #0d6efd;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d0d0d0;
}

.firefox {
  scrollbar-color: #0d6efd #f1f1f1;
}

@media screen and (min-width: 992px) {
  .circle {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
  }
}

@keyframes tilt-n-move-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
